* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.fa-circle-thin
{
    font-size: x-small;
}

/* Mobile menu */
.nav1{
    background-color: #2F2F2F;
    padding: 10px;
    font-size: 13px;
}
.izbornik
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.lijeviIzbornik{
    width: 80%;
    display: flex;
}
.item.item1
{
    display: none;
    margin:auto;
}
span.item1{
    display: none;
}

.item{
    display: block;
    width: auto;
    margin: auto;
}
.item.sign{
    margin-right: 0;
}

/* Tablet menu */
@media all and (min-width: 468px) {

}

/* Desktop menu */
@media all and (min-width: 710px)
{
    nav{
        font-size: 13px;
    }
    .navbar{
        width: 70vw;
        margin: auto; 
        position: relative;
    }
    .lijeviIzbornik
    {
        width: 45%; display: flex;
    }
    .item.item1{
        display: flex;
    }
    .izbornik{
        display: flex;
        flex-wrap: wrap;
    }
    .item{
        display: block;
        width: auto;
        margin-right: auto;
    }
    
    li{
        width: auto;
    }
    .fa{
        display: inline;
    }
    span.item1{
        display: inline;
    }
}
.lijevinav{
    display: flex;
    width: 50%;
}
.desninav{
    display: flex;
    width: 50%;
}
.lijevinavitem{
    display: block;
    margin:auto;
    margin-left: 0;
}
.desninavsearch{
    display: block;
    margin:auto;
    position:relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 60%;
}
#input{
    width: 100%;
    height: 100%;
}
#search
{
    font-size: 25px;
    height: 100%;
    position: absolute;
    right: 0;
    background: transparent;
    border-color: transparent;
    border-right-width: 15px;
}
.desninavcart
{
    margin-left: 0;
    margin-right: 0;
}

.nav2{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.prvi{
    display: block;
    border-bottom: 1px solid red;
    width: 50%;
    transform: rotate(45deg);
    height: auto;
}


.shopping-cart-button {
    padding: 1rem;
    background-color: rgb(11, 170, 11);
    border: 0;
}
.shopping-cart-button:hover {
    background-color: #06770f;
}
main{
    margin:auto;
    width: 70vw;
    margin-top: 25px;
    height: 60vh;
}
h1{
    font-size: xx-large;
}
.shop{
    width: 100%;
    display: flex;
    height: 100%;
}
.cart{
    width: 25%;
    border: 1px solid black;
    height: 100%;
    margin: auto;
    margin-right: 0;
}
.table
{
    border-collapse: collapse;
    width: 70%;
}
.table{
    max-width: 100%;
}
.summary{
    width: 20%;
}

footer{
    height: 10vh;
    margin:0;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid;
}
.row td{
    width: 10%;
}
.row td img{
    width: 90%;
}
.row{
    border-top: 4px solid #F5F5F5;
}
.row:last-child
{
    border-bottom: 4px solid #F5F5F5
    ;
}
#tablehead>td{
    padding-bottom: 15px;
}
.row>td{
    padding-top: 10px;
}
#tablebottom
{
    width: 100%;
    height: 3rem;
    border: 1px solid;
}
#tablebottomleft{
    width: 20%;
    margin: auto;
    margin-left: 0;
    border: 1px solid black;
    height: 100%;
}